.works-section {
    background-color: black;
    font-family: cursive;
    padding: 20px;
   
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  
}

 .works-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-around;
   
    

    
}

.card-one {
 
    /* box-shadow: 20px 20px 10px
    #eb7024b0; */
    max-width: 400px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
       
}

.title {
    color: whitesmoke;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
    
}


.project-pokedex {
    background-image: url("../../public/pokedex.png");
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    min-height: 300px;
    

} .project-rick {
    background-image: url("../../public/rick.png");
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    min-height: 300px;
}
.project-gym{
    background-image: url("../../public/gym.png");
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    min-height: 300px;
}
.project-got{
    background-image: url("../../public/got.png");
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    min-height: 300px;
}
.project-water{
    background-image: url("../../public/water.png");
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    min-height: 300px;
}
.api {
    color:black;
}
.api:hover {
    color:red
}

.logos {
    height: 45px;
    margin: 5px;
}

.works-descrip {
    
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: space-around;
    text-align: center;
    background-color: rgb(151, 225, 210);
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
   
}

.link-project {
    color: black;
}
.link-project:hover {
    color:red;
}

.git {
    display: flex;
    align-items: center;
}